.headerLogin {
  display: flex;
  align-items: center;
  height: 15vh;
  background-color: #C8D8D7;
}
.headerLogin h2, h3 {
  margin: 0px;
  font-family: 'DM Sans';
  font-size: 30px;
  font-weight: bold;
  color: #1DB2AC;
}

.uniLogo {
  height: 100px;
  margin: 0px 50px 0px 100px;
}
