.internship-details-container {
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: whitesmoke;
}
.internshipDetailsHeader{
  flex-grow: 1;
}
.container-internship-detail{
  flex-wrap: wrap;
  display: flex;
}

.internship-detail {
  display: flex;
  flex-basis: 50%;
  flex-grow: 0; 
  margin-bottom: 10px;
  height: 50px;
  align-items: center;
  /* width: 50%; */
  /* background-color: red; */
}
.internMain-container{
  display: flex;
  flex-grow: 9;
  flex-direction: column;
}
.attachedDocCont{
  display: flex;
  height: 50px;
}

.detail-label {
  font-weight: bold;
  width: 160px;
}

.internship-action {
  margin-top: 20px;
}

.coordUploadBtn{
  margin: 0px 10px;
}
.inputCoord{
  width: 210px;
  /* width: 100%; */
  padding: 10px;
  background-color: white;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'DM Sans';
  font-size: 16px;
}
.links-detail-value{
  display: flex;
  flex-direction: column;
}
.letterInput{
  width: 50%;
}
.rejectionInput{
  width: 75%;
  margin-top: 10px;
}
.letterUploadbox{
  margin: 10px 0px;
}
.coordiInput{
  margin-top: 10px;
}
.coordSubmitBtn{
  width: 75%;
}
.internship-actions{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.actionRequiredCont, .letterUploadbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actionLabel{
  margin: 10px 0px;
}
.coordfFormUploadCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}