.headerMainCont {
  flex-grow: 1;
  background-color: #1DB2AC;
  /* height: 75px; */
  display: flex;
  justify-content: flex-end;
}
.profileImgCont{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
