.mainConainer{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 85vh;
  min-width: 100vw;
  padding: 30px;
}
.headerNav{
  display: flex;
  justify-content: center;
  flex-grow: 3;
}
.formHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginFormBody h3{
  font-size: x-large;
}
.loginFormBody h4{
  color: red;
}
.loginFormBody{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}
.formRightSide{
  margin: 0 25px;
  flex-grow: 2;
}
.formLeftSide{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 8;
  justify-content: center;
}
.LogInSeparator{
  height: 80%;
  width: 1px;
  background-color: #1DB2AC;
}
.loginformCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
  }
  
  
  label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .input-group input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 100%;
  }
  
  button[type="submit"] {
    background-color: #2A62B7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: 'inline-block';
    width: '100%'
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  