.internSelectorMainCont {
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: whitesmoke;
}
.intenrContain{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.internButtonBody-status, .internStatusCont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.internStatusCont{
  margin: 5px 10px;
  padding: 10px;
  border: 2px solid #C8D8D7;
  background-color: #09B3AD;
  border-radius: 10px;
}
.internStatusCont p {
  margin: 0px;
  color: aliceblue;
}

.intenrButtonContainer {
  display: flex;
  flex-grow: 9;
  flex-direction: column;
  margin: 20px;
}

.intenrSelectorHeader{
  flex-grow: 1;
  display: flex;
  font-family: 'DM Sans';
  justify-content: center;
  align-items: center;
}

.internButtonHeader{
  width: 25%;
  margin: 10px;
}
.internButtonBody {
  width: 75%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.internButtonBody h2, .internButtonBody h3{
  font-size: 15px;
  margin: 0px 10px 0px 0px;
}
.internButtonBody-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.internDetailsCont{
  display: flex;
}

.internSelectorSeparator{
  display: flex;
  background-color: red;
  height: 10px;
}

.internButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  border: 2px solid #C8D8D7;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans';
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 0 20px ;
  box-shadow: 10px 10px 5px lightblue;
  transition: background-color 0.3s ease;
}

.buttonSeparator{
  display: flex;
  flex-grow: 0;
  background-color: #C8D8D7;
  width: 5px;
  height: 80%;
}


/* .admin-button {
  background-color: #007bff;
}

.student-button {
  background-color: #28a745;
}

.coordinator-button {
  background-color: #ffc107;
}

.center-button {
  background-color: #dc3545;
} */

.internButton:hover {
  background-color: #C8D8D7;
}
