.profile-form-outerContainer{
  display: flex;
  width: 100%;
  /* width: 79vw; */
  /* height: 88vh; */
  justify-content: center;
  background-color: #E9EAEC;
  /* height: 80vh; */
  padding: 10px;
}
.profile-form-mainContainer{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 15px;
  /* border: 2px solid gray ; */
  border-radius: 10px;
  background-color: white;
}
.profile-form-HeaderCont h1{
  margin: 0;
  font-family: 'DM Sans';
}
.profile-form-HeaderCont p{
  font-family: 'DM Sans';
  color: #5F6165;
}
.separator{
  width: 100%;
  height: 1px;
  background-color: #E9EAEC;
  margin: 20px 0;
}
.formHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formBody h3{
  font-size: x-large;
}
.formBody h4{
  color: red;
}
.formBody{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* border: 2px solid gray ; */
  border-radius: 10px;
  background-color: whitesmoke;
}
.formside{
  margin: 0 25px;
  flex-grow: 10;
}
.picSide{
  display: flex;
  flex-grow: 5;
  justify-content: center;
}
.profile-form-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.profile-form-second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  margin: 10px 20px;
}


  
.labelProfile {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'DM Sans';
  width: 700;
  color: #7C7C8D;
}

.inputProfile {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #E9EAEC;
  font-size: 16px;
  width: 376px;
  box-sizing: border-box;
  font-family: 'DM Sans';
  font-weight: 700;
  text-align: left;
}

select{
  padding: 10px;
  border-radius: 4px;
  font-family: 'DM Sans';
  font-weight: 700;
  border: 1px solid #E9EAEC;
  font-size: 16px;
  width: 376px;
  box-sizing: border-box;
  color: #7C7C8D;
}
option{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  width: 376px;

}

button[type="submit"] {
  background-color: #183282;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: 'inline-block';
  width: '100%'
}

button[type="submit"]:hover {
  background-color: #45a049;
}
  