.internSelectorMainCont {
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: whitesmoke;
}
.intenrContain{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}