.applicationStartMainCont {
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
}
.apply-detail-label{
  margin: 10px;
  font-weight: bold;
}
.buttonFormApplyCont{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 10px;
}
.buttoApplyForm{
  width: 50%;
  height: 50px;
}
.applyHeaderMainContain{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}
.applyHeaderCont{
  display: flex;
  justify-content: center;
}
.applyFormCont{
  display: flex;
  flex-grow: 9;
  background-color: white;
  margin-top: 10px;
  padding: 20px;

}
.applyForm{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-grow: 1;
}
.formUploadCont{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formUploadCont button{
  margin: 0px 10px;
}
.modalOverlay{
  background-color: rgb(251, 248, 248, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalContent{
  position: absolute;
  top: 32%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  background-color: #C8D8D7;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadCont{
  display: flex;
  flex-basis: 50%;
  flex-grow: 0; 
  /* height: 50px; */
  flex-direction: column;
  justify-content: flex-start;
}
.application-detail{
  display: flex;
  flex-basis: 50%;
  flex-grow: 0; 
  height: 50px;
  align-items: center;
}
